{% extends "layout.njk" %}
{% import "parts/section_products.njk" as section%}


{% block content %}

    {{section.products('Últimos Produtos', 'container', products)}}


{% endblock content %}